@page "/client"
@using PetStockBlazor.Models
@using PetStockBlazor.Services
@inject FakeDataService DataService
@inject NavigationManager Navigation

<h3>Clients</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in clients)
        {
            <tr>
                <td>@client.Name</td>  
                <td>@client.Email</td> 
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Models.Client> clients = new();

    protected override void OnInitialized()
    {
        clients = DataService.GetClients();
    }
}
