@page "/"
<PageTitle>PetStock</PageTitle>

<div class="container">
    <header>
        <h1>Welcome to PetStock!</h1>
        <p class="intro-text">📦 Gerencie seu estoque de forma fácil e eficiente!</p>
    </header>

    <section class="features">
        <h2>Solução Completa para Lojas de Produtos Pet</h2>
        <ul>
            <li>🚀 <strong>Controle de estoque automatizado</strong></li>
            <li>✅ <strong>Cadastro de produtos e categorias</strong></li>
            <li>✅ <strong>Atualização de quantidades em tempo real</strong></li>
            <li>✅ <strong>Relatórios detalhados de vendas e estoque</strong></li>
        </ul>
    </section>

   
</div>


