@page "/add-product"
@using Microsoft.AspNetCore.Components.Forms
@using PetStockBlazor.Services
@using PetStockBlazor.Models
@inject NavigationManager Navigation
@inject FakeDataService DataService

<h3>ProductForm</h3>

<EditForm Model="@product" OnValidSubmit="SaveProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Nome:</label>
        <InputText class="form-control" @bind-Value="product.Name" />
    </div>

    <div class="mb-3">
        <label>Descrição:</label>
        <InputText class="form-control" @bind-Value="product.Description" />
    </div>

    <div class="mb-3">
        <label>Preço:</label>
        <InputNumber class="form-control" @bind-Value="product.Price" />
    </div>

    <div class="mb-3">
        <label>Quantidade em Estoque:</label>
        <InputNumber class="form-control" @bind-Value="product.StockQuantity" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select @bind="product.CategoryId" class="form-control">
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    private Product product = new();

    private List<Category> categories = new();

    protected override void OnInitialized()
    {
        categories = DataService.GetCategories();
    }

    private void SaveProduct()
    {
        product.Category = categories.FirstOrDefault(c => c.Id == product.CategoryId);
        DataService.AddProduct(product);
        Navigation.NavigateTo("/products");
    }

}
